<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <h4>Filter</h4>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="filter.name" @keyup="fetchHouses('/api/houses' + filter_string + '&name=' + filter.name)" />
                </div>

                <div class="form-group">
                    <label>Quantity of bedrooms</label>
                    <input type="number" class="form-control" v-model="filter.bedrooms" @keyup="fetchHouses('/api/houses' + filter_string + '&bedrooms=' + filter.bedrooms)" />
                </div>

                <div class="form-group">
                    <label>Quantity of bathrooms</label>
                    <input type="number" class="form-control" v-model="filter.bathrooms" @keyup="fetchHouses('/api/houses' + filter_string + '&bathrooms=' + filter.bathrooms)" />
                </div>

                <div class="form-group">
                    <label>Quantity of garages</label>
                    <input type="number" class="form-control" v-model="filter.garages" @keyup="fetchHouses('/api/houses' + filter_string + '&garages=' + filter.garages)" />
                </div>

                <div class="form-group">
                    <label>Quantity of storeys</label>
                    <input type="number" class="form-control" v-model="filter.storeys" @keyup="fetchHouses('/api/houses' + filter_string + '&storeys=' + filter.storeys)" />
                </div>

                <div class="form-group">
                    <label>Price range</label>
                    <input type="number" class="form-control" placeholder="from" v-model="filter.price_min" @keyup="fetchHouses('/api/houses' + filter_string + '&price_min=' + filter.price_min)" />
                    <input type="number" class="form-control" placeholder="to" v-model="filter.price_max" @keyup="fetchHouses('/api/houses' + filter_string + '&price_max=' + filter.price_max)" />
                </div>
            </div>
            <div class="col-sm-10">
                <p v-if="houses.length == 0">No results found</p>
                <table class="table table-hover" v-if="houses.length > 0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>bedrooms</th>
                            <th>bathrooms</th>
                            <th>garages</th>
                            <th>storeys</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(house, index) in houses">
                        <td>{{ house.name }}</td>
                        <td>{{ house.bedrooms }}</td>
                        <td>{{ house.bathrooms }}</td>
                        <td>{{ house.garages }}</td>
                        <td>{{ house.storeys }}</td>
                        <td>{{ house.price }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
          return {
              houses: [],
              filter: [
                  name => null,
                  bedrooms => null,
                  bathrooms => null,
                  garages => null,
                  storeys => null,
                  price_min => null,
                  price_max => null,
              ],
              filter_string: '?'
          }
        },
        mounted() {
            console.log('Component mounted.')
            this.fetchHouses();
        },
        methods: {
            fetchHouses(url) {
                let app = this;
                url = url != null ? url : '/api/houses';
                fetch(url)
                    .then(res => res.json())
                    .then(res => {
                        console.log(res);
                        app.houses = res.data;
                        app.filter_string = res.filter_string;
                    })
                    .catch(err => { console.log(err) })
            }
        }
    }
</script>
